# Set default behavior to automatically normalize line endings to LF across all platforms
* text=auto eol=lf

# Force specific text files to LF
*.js text eol=lf
*.json text eol=lf
*.py text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf
*.csv text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.txt text eol=lf

# Binary files
*.xlsx binary
*.zip binary
*.png binary
*.jpg binary
*.ico binary
